:root{
    --primary-color: #34d399;
}
body{
    text-align: center;
}
.container{
display: flex;
flex-direction: column;
align-items: center;
}
.header-para{
    width: 60%;
    font-weight: lighter;
    letter-spacing: .1rem;
}
header{
    margin: 1rem 0;
    color: var(--primary-color);
    text-transform: capitalize;
}

main{
    padding: 0 4rem;
}
label, button{
    display: flex;
    justify-content: center;
}
label{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.2rem;   
}
input{
    margin: .5rem 0;
    border: 2px solid var(--primary-color);
    padding: .4rem .2rem;
    border-radius: 10px;

}
button{
    margin: auto;
    border-radius: 10px;
    padding: .4rem 1.5rem;
    font-weight: bold;
    font-size: .9rem;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    text-transform: capitalize;
    color: white;
}
.show-message{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.4rem;
    font-style: italic;
}

th, td{
    width: 0%;
    border: 2px solid var(--primary-color);
    padding: .4rem;
}
.change-table caption{
font-weight: bold;
text-transform: capitalize;
margin-bottom: 1rem;
}
.change-table{
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer a{
    font-size: 1.5rem;
    color: var(--primary-color);
    padding: 0 .5rem;
}